{% extends 'index.html' %}

{% block body %}
<div class="container row">
	<form action="" method="POST" class="col s12 z-depth-1 grey lighten-4"  style="border:1px solid none;margin-top:20px;padding-bottom:15px; ">
		<p style="font-size: 30px;font-weight: 300;font-family:  Kanit,sans-serif;" class="thin center red-text"><b><i>Cpanel Sign Up</i></b></p>
		<div class="row">
			<div class="input-field col s12 m12 13">
				<input placeholder="Email Id" type="email" id="email" name="ademail">
				<label for="email">Email Id</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m12 13">
				<input placeholder="User Name" type="text" id="username" name="adusername">
				<label for="username">User Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m12 13">
				<input placeholder="Password" type="password" id="password" name="adpassword">
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m12 13">
				<input placeholder="Confirm Password" type="password" id="cpass" name="adcpassword">
				<label for="cpass">Confirm Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m12 13">
				<input type="number" name="adphone" id="phone" placeholder="Phone Number">
				<label for="phone">Mobile Number</label>
			</div>
		</div>
		<p>I Agree to <span style="color:#00baff;">Terms and Conditions</span></p>
		<div class="left-align">
			<button class="btn" style="background-color:#00baff;">Verify And Continue</button>
		</div>
	</form>
	<div class="divider"></div>
</div>
{% endblock %}