<!DOCTYPE html>
<html>
<head>
	<title></title>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
  
 
    </style>
</head>
<body>
    {% include 'includes/_navbar.html' %}

    {% block body %}{% endblock %}
    {% include 'includes/_footer.html' %}
    <!--Import jQuery before materialize.js-->
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
</body>
</html>